/* --- Shared --- */
html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "standard";
    src: url("/static/fonts/standard-book.otf") format("opentype");
}

body {
    padding: clamp(1.5rem, 2vw, 2rem) clamp(.7rem, 2vw, 2rem);
    font-family: 'standard', 'Fira Code';
    font-size: 16px;
    font-weight: 400;
    background-color: #FFFFFC;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: grey;
}

hr {
    border: none;
    height: 2px;
    background-color: #000000;
}

header {
    width: 100%

}
.navbar {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


/* --- Landing Page --- */
.main-wrapper {
    display: flex; 
    flex-direction: column; 
    align-items: left; 
    justify-content: space-between;
}


.orange-underline{
    text-decoration: underline;
    -webkit-text-decoration-color: orange; /* safari still uses vendor prefix */
    text-decoration-color: orange;
}
.main-page-text {
    font-size: clamp(35px, 3.5vw, 60px);
}

#main-bio {
    margin: clamp(35px, 3.5vw, 60px) 0;
    letter-spacing: -0.045em;
    font-style: normal;
    justify-content: left;
}

#main-links{
    margin-top: clamp(.7rem, 2vw, 1rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    gap: clamp(.7rem, 2vw, 1rem);
    
}

.bubble {
    letter-spacing: -0.045em;
    padding: 10px 20px 7px 20px;
    border: 4px;
    border-color: black;
    border-style: solid;
    border-radius: 100px;
    background-color: #FFFFFC;
}

.bubble:hover {
    color: #FFFFFC;
}

#email-bubble:hover {
    color: #FFFFFC;
}

.scrolling-container {
    padding: 0;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
}

.scrolling-text {
    display: inline-block;
    padding: 7px 20px 7px 20px;
    animation: scroll-rtl 10s linear infinite;
}

@keyframes scroll-rtl {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* --- Blog Post List --- */
#blog-list-containter {
    margin-top: clamp(35px, 3.5vw, 60px);
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;

}
#blog-desc {
    font-size: clamp(35px, 3.5vw, 60px);
    /* text-align: center; */
    /* width: 70%; */
    font-weight: 400;
}

#blog-post-list {
    /* margin-top: clamp(30px, 5vw, 50px); */
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.blog-post-link {
    font-size: clamp(20px, 1.7vw, 50px);
    display: flex;
}

.blog-post-link {
    width: 100%;
    margin: 0;
}

.blog-post-link .blog-link-meta {
    flex: 0 0 20%; /* Each p takes equal width */
    /* text-align: right; */
    margin:0;
    /* text-wrap: nowrap; */
}

.blog-post-link .blog-link-title {
    flex: 0 0 60%;
    margin:0;
}

/* Hide metadata on smaller screens */
@media (max-width: 750px) {
    hr {
        height: 0px;
    }

    .blog-link-meta {
        display: none;
    }

    .blog-post-link .blog-link-title {
        flex: 1 1 100%;
    }
}