html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "standard";
    src: url("/static/fonts/standard-book.otf") format("opentype");
}

body {
    padding: clamp(1.2rem, 2vw, 2rem);
    font-family: 'standard', 'Fira Code';
    font-size: clamp(3.2rem, 4vw, 5rem);
    font-weight: 400;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: grey;
}

.main-wrapper {
    display: flex; 
    flex-direction: column; 
    align-items: left; 
    justify-content: space-between;
}

header {
    width: 100%

}
.navbar {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.orange-underline{
    text-decoration: underline;
    -webkit-text-decoration-color: orange; /* safari still uses vendor prefix */
    text-decoration-color: orange;
}

#main-bio {
    letter-spacing: -0.045em;
    font-style: normal;
    justify-content: left;
}

#main-links{
    margin-top: clamp(.7rem, 2vw, 1rem);
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: clamp(.7rem, 2vw, 1rem);
    
}

#clouds {
    margin-top: 100px;
    position: absolute;
    width: 625px;
}

#hammer {
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 30%;
}

.bubble {
    letter-spacing: -0.045em;
    padding: 7px 20px 7px 20px;
    border: 4px;
    border-color: black;
    border-style: solid;
    border-radius: 100px;
    background-color: white;
}

.bubble:hover {
    color: white;
}

.main-page-text {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
}

.scrolling-container {
    padding: 0;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
}

.scrolling-text {
    display: inline-block;
    animation: scroll-rtl 10s linear infinite;
}

@keyframes scroll-rtl {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}