{{ define "blog" }}
    {{ template "header" . }}

        <div id="blog-list-container">
            <h1>blog.</h1>
            <table id="blog-post-table">
                <tbody>
                    <tr>
                        <td><a href="/blog/post2" hx-swap="transition:true">T2</a></td>
                        <td><a href="/blog/post2" hx-swap="transition:true">Advanced Topics II</a></td>
                        <td><a href="/blog/post2" hx-swap="transition:true">22 JUN 2025</a></td>
                    </tr>
                    <tr>
                        <td><a href="/blog/post2" hx-swap="transition:true">T1</a></td>
                        <td><a href="/blog/post2" hx-swap="transition:true">EIGRP vs BGP</a></td>
                        <td><a href="/blog/post2" hx-swap="transition:true">21 JUN 2025</a></td>
                    </tr>
                    <tr>
                        <td><a href="/blog/post1" hx-swap="transition:true">P1</a></td>
                        <td><a href="/blog/post1" hx-swap="transition:true">Self Introduction</a></td>
                        <td><a href="/blog/post1" hx-swap="transition:true">20 JUN 2025</a></td>
                    </tr>
                </tbody>
            </table>

            <h2>
                P: Personal
                <br>
                T: Technical
            </h2>
        </div>

    {{ template "footer" . }}
{{ end }}

