{{ define "home" }}
    {{ template "header" . }}

        <p id="main-bio" class="main-page-text">Hi, there! Jimmy is a <u class="orange-underline">network engineer</u>
            with a focus on network automation. 
            Currently pursuing a master's in
            network engineering at the University
            of Colorado Boulder, studying for the CCNA, and working
            full time as an embedded software engineer.
            My purpose with this website is to document my process, discuss trends,
            and howl at the moon.
            Feel free to reach out to me through ¹email or ²direct message.
        </p>
        <!-- <img id="clouds" src="/static/clouds.png"> -->
        <!-- <div class="noise"></div> -->
        <div id="main-email" class="bubble scrolling-container">
            <a id="email-bubble" class="main-page-text scrolling-text" href="mailto:jpentz1@gmail.com">
                jpentz1@gmail.com
            </a>
        </div>
        <div id="main-links">
            <a id="linkedin-bubble" class="bubble main-page-text" href="https://www.linkedin.com/in/jimmypentz" hx-swap="transition:true">LinkedIn</a>
            <a id="resume-bubble" class="bubble main-page-text" href="/blog" hx-swap="transition:true">Resume</a>
            <a id="blog-bubble" class="bubble main-page-text" href="/blog" hx-swap="transition:true">Blog</a>
        </div>

    {{ template "footer" . }}
{{ end }}
